@{
    ViewData["Title"] = "IaaS";
}

<div class="text-center">
    <h1 class="display-4">Infrastructure as a Service</h1>
</div>
<div style="padding-left: 20%; padding-right:20%;">
    <hr />
</div>
<h3 class="text-center">IaaS</h3>
<br />
<br />
<br />
<div style="padding-left: 5%; padding-right: 10%; border-left: double">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;"IaaS" é a sigla para Infrastructure as a Service, ou em bom português, Infraestrutura como Serviço ou Serviço de Infraestrutura e é p primeiro
        "passo nas nuvens". Ela te fornece apenas a base de tudo, como por exemplo os bancos de dados ou <i>storages</i> de acordo com a necessidade
        do cliente.
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;Apesar de ser apenas o primeiro passo, é sim um enorme passo. Fazer a persistência de dados em um servidor que não seja
        <i>On Premisse</i> além de ser bem mais rápido de se levantar e econômico para o usuário, não há o risco de perda de dados, já que estes podem ficar em mais
        de um servidor. Mas você ainda é responsável por bastante requisitos funcionais, como sistema operacional, aplicações, componentes de middleware e
        ambientes de execução.
    </p>

</div>