@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Paulo Portugal</h1>
    <p><i>paulo.neto@al.infnet.edu.br</i></p>
</div>
<hr />
<h3 class="text-center">Bem-vindo ao meu TP 1!</h3>
<br />
<p class="text-center">
    Os ícones na barra de navegação superior o levarão a uma página com sucinta explicação de cada tipo de Serviço oferecido pela nuvem, em nosso caso, mais
    especificamente a Azure.
</p>
<div style="text-align: center">
    <img style="align-content: center; width: 450px;" src="https://www.redhat.com/cms/managed-files/iaas-paas-saas-diagram5.1-1638x1046.png" />
</div>
