@{
    ViewData["Title"] = "PaaS";
}

<div class="text-center">
    <h1 class="display-4">Platform as a Service</h1>
</div>
<div style="padding-left: 20%; padding-right:20%;">
    <hr />
</div>
<h3 class="text-center">PaaS</h3>
<br />
<br />
<br />
<div style="padding-left: 5%; padding-right: 10%; border-left: double">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Um passo além da Infraestrutura como serviço e mais adentro da computação em nuvem está a Plataforma como serviço, ou 
        <i>PaaS</i>. É um passo enorme pois aqui a nuvem se encarrega de hospedar componentes de hardware e software, já fornecendo uma plataforma
        pronta para ser utilizada. 
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;Como uma plataforma pronta, é muito útil para desenvolvedores e programadores, que podemos precisar de um hardware mais 
        robusto para certos tipos de desenvolvimentos de softwares como sistemas ou jogos que envolvam muita velocidade de processamento e vídeo. 
    </p>

</div>