@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bem-vindo ao sistema de cadastro de tarefas</h2>
</div>
<hr />
<br />
<h4 class="text-center">-- Navegue nas barra superior para administrar sua agenda de tarefas --</h4>