<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6b72e453-db28-48e6-94d7-0f27ecb90130/resourcegroups/DefaultResourceGroup-CQ/providers/Microsoft.Web/sites/AmigosAPITP03</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CQ</ResourceGroup>
    <ApiResourceId>/subscriptions/6b72e453-db28-48e6-94d7-0f27ecb90130/resourceGroups/DefaultResourceGroup-CQ/providers/Microsoft.ApiManagement/service/AmigosAPIapi/apis/AmigosAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://amigosapitp03.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>451164c0-1afc-40dd-bf84-5b8bde82859f</ProjectGuid>
    <MSDeployServiceURL>amigosapitp03.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AmigosAPITP03</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AmigosAPITP03</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>