@{
    ViewData["Title"] = "SaaS";
}

<div class="text-center">
    <h1 class="display-4">Software as a Service</h1>
</div>
<div style="padding-left: 20%; padding-right:20%;">
    <hr />
</div>
<h3 class="text-center">SaaS</h3>
<br />
<br />
<br />
<div style="padding-left: 5%; padding-right: 10%; border-left: double">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;O Software como um serviço é o topo da pirâmide da Computação em Nuvem. Simplesmente todos os recursos e meios para
        que o software funcione corretamente já foram providos pela Azure, basta acessar o software pelo browser e está tudo lá! Não é necessário se
        preocupar com atualizações, correções de bugs, toda a manutenção é feita pelo provedor do Software.
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;Utilizamos esse modelo diariamente com softwares como Outlook, Gmail, Dropbox, Google Apps e muito mais. Nesse modelo
        há economia de tempo e esforço para manutenção mas, em contrapartida, deve haver um custo maior com controle, segurança e desempenho.
    </p>

</div>